#screen{
  width: 95%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
}

#location{
  background-image:url("../tiles/ground.png");
  position:relative;
  border:50vmax solid black;
}

#up,#down{
  position: relative;
  float: left;
  background-image:url("../tiles/ground.png");
}

.players{
  background-image:url("../sprites/down.png");
  background-size: cover;
  width:10vmax;
  height:10vmax;
  position: relative;
  z-index: 998;
}


body{
  text-align:center;
}

.shadow {
    position: absolute;
    width: 8%;
    height: 0.5vh;
    background: black;
    z-index: 997;
    border-radius: 50%;
}

#touchContainer {
  display: flex;
  z-index: 999;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index:999;
  opacity: 0;
}

#touchMiddle {
  display: flex;
  flex-direction: row;
  opacity: 0;
}

.touchbar {
  opacity: 0; /* 1 is zien, 0 is niet zien */
  height: 33%;
  width: 100%;
}

.touchHor {
  opacity: 0; /* 1 is zien, 0 is niet zien */
  height: 100%;
  width: 50%;
}

div {
  image-rendering: pixelated;
}
